:root {
    --main-background-color: #000f1d;
    --text-border-color: #9cb3c7;
    --font-family: 'comic sans ms', Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
    background-color: var(--main-background-color);
}

p,
div {
    color: var(--text-border-color);
    font-family: var(--font-family);
    font-weight: bold;
}

/* header & main-container styles */
.header,
.main-container {
    margin-left: 10%;
    margin-right: 10%;
}

.header {
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-left: 15%;
    padding-right: 15%;
    border: 1px ridge var(--text-border-color);
    border-radius: 10px;
}

.main-container {
    flex: 1;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    gap: 5%;

    height: 100%;
    padding-top: 10%;

}

.change-container {
    align-self: center;

    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 5%;

    width: 100%;
}

.button-container {
    padding: 10%;

    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 10%
}

button{
    border-radius: 30px;
    overflow: hidden;
    max-width: 200px;
}

.button-container img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.footer {
    align-self: center;
}

/* to be added via JS */
.left-container {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: auto;
}

.imgOfSelection-container {
    margin: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;

    width: 100%;
    height: auto;
}

.imgOfSelection-container img {
    width: 150px;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
}

.right-container {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;

    width: 20%;
    height: auto;
}

/* borders for editing */
.button-container,
.main-container,
.change-container,
.left-container,
.right-container,
.game-state-text,
.imgOfSelection-container,
.player-selection,
.comp-selection,
.win-loose-announcement,
.score-display {
    border: 1px solid white;
}